<app-sidebar></app-sidebar>
<div class="main-content">
    <app-header></app-header>    
    <div class="p-5">
        <div class="p-6 animate__animated" :class="[$store.app.animation]">
            <div x-data="sales">
                <ul class="flex space-x-2 rtl:space-x-reverse">
                    <li class="before:content-['/'] ltr:before:mr-1 rtl:before:ml-1">
                        <span>Suivi des partenaires</span>
                    </li>
                </ul>
    
                <form class="space-y-5" style="padding-bottom: 10px; padding-left: 0%; padding-right: 0%;" (submit)="save()">
                    <div class="grid grid-cols-1 grid-cols-2 gap-2">
                        <div class="mb-3" [formGroup]="formGroup">
                            <label for="gridPassword">Produit <span style="color:red">*</span></label>
                            <ng-select id="entity_product_id" name="entity_product_id" formControlName="entity_product_id" [(ngModel)]="entity_product_id" placeholder="Sélectionner" [ngClass]="{ 'is-invalid': submitted && f['entity_product_id'].errors }">
                                <ng-option *ngFor="let item of listEntityProduct" [value]="item.id">{{item.product.label}}</ng-option>
                            </ng-select>
                            <div *ngIf="submitted && f['entity_product_id'].errors" class="mt-1">
                                <div *ngIf="submitted && f['entity_product_id'].errors?.['required']" class="text-danger">Ce champ est requis !</div>
                            </div>
                        </div>
                        <div class="mb-3" [formGroup]="formGroup">
                            <label for="gridPassword">Campagne <span style="color:red">*</span></label>
                            <ng-select id="campaign_id" name="campaign_id" formControlName="campaign_id" [(ngModel)]="campaign_id" placeholder="Sélectionner" [ngClass]="{ 'is-invalid': submitted && f['campaign_id'].errors }">
                                <ng-option *ngFor="let item of listEntityCampaign" [value]="item.id">{{item.label}}</ng-option>
                            </ng-select>
                            <div *ngIf="submitted && f['campaign_id'].errors" class="mt-1">
                                <div *ngIf="submitted && f['campaign_id'].errors?.['required']" class="text-danger">Ce champ est requis !</div>
                            </div>
                        </div>
                        <div class="mb-3" [formGroup]="formGroup">
                            <label>Date de début {{date_from}} <span style="color:red">*</span></label>
                            <input type="date" class="form-input" formControlName="date_from" [ngClass]="{ 'is-invalid': submitted && f['date_from'].errors }"
                                name="date_from" [(ngModel)]="date_from" min="1" />
                            <div *ngIf="submitted && f['date_from'].errors" class="mt-1">
                                <div *ngIf="submitted && f['date_from'].errors?.['required']" class="text-danger">Ce champ est requis !</div>
                            </div>
                        </div>
                        <div class="mb-3" [formGroup]="formGroup">
                            <label>Date de fin <span style="color:red">*</span></label>
                            <input type="date" class="form-input" formControlName="date_to" [ngClass]="{ 'is-invalid': submitted && f['date_to'].errors }"
                                name="date_to" [(ngModel)]="date_to" min="1" />
                            <div *ngIf="submitted && f['date_to'].errors" class="mt-1">
                                <div *ngIf="submitted && f['date_to'].errors?.['required']" class="text-danger">Ce champ est requis !</div>
                            </div>
                        </div>
                    </div> 
                    <div class="flex justify-end items-center mt-8">
                        <button type="submit" class="btn btn-primary ltr:ml-4 rtl:mr-4" [disabled]="submit" *ngIf="!submit">Filtrer</button>
                        <button type="button" class="btn btn-primary ltr:ml-4 rtl:mr-4" [disabled]="submit" *ngIf="submit">
                            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round" class="w-5 h-5 animate-[spin_2s_linear_infinite] inline-block align-middle ltr:mr-2 rtl:ml-2">
                                <line x1="12" y1="2" x2="12" y2="6"></line>
                                <line x1="12" y1="18" x2="12" y2="22"></line>
                                <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                                <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                                <line x1="2" y1="12" x2="6" y2="12"></line>
                                <line x1="18" y1="12" x2="22" y2="12"></line>
                                <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                                <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                            </svg>
                            Patientez ...
                        </button>
                    </div>                                       
                </form>
                <div class="pt-5" *ngIf="itemSelected && itemDetail">
                    <div class="row mb-5">
                        <div class="fixed inset-0 bg-[black]/60 z-[999]  hidden" :class="open && '!block'">
                            <div class="flex items-start justify-center min-h-screen px-4">
                                <div x-show="open" x-transition x-transition.duration.300 class="panel border-0 p-0 rounded-lg overflow-hidden w-full max-w-5xl my-8">
                                    <h5 class="font-bold text-lg p-5">Détails de {{itemSelected.name}}</h5>
                                    <div class="p-5">
                                        <form class="space-y-5" style="padding-bottom: 10px; padding-left: 0%; padding-right: 0%;" *ngIf="listStatistics">
                                            <div class="grid grid-cols-5 grid-cols-5 gap-5">
                                                <div class="mb-3">
                                                    <label>Mandats</label>
                                                    <h3 class="form-input">{{listStatistics.mandate | number:'':'fr-FR'}} FCFA</h3>
                                                </div>
                                                <div class="mb-3">
                                                    <label>Livraison</label>
                                                    <h3 class="form-input">{{listStatistics.delivery | number:'':'fr-FR'}} FCFA</h3>
                                                </div>
                                                <div class="mb-3">
                                                    <label>Versement</label>
                                                    <h3 class="form-input">{{listStatistics.payment | number:'':'fr-FR'}} FCFA</h3>
                                                </div>
                                                <div class="mb-3">
                                                    <label>Remboursement</label>
                                                    <h3 class="form-input">{{listStatistics.repayment | number:'':'fr-FR'}} FCFA</h3>
                                                </div>
                                                <div class="mb-3">
                                                    <label>Solde</label>
                                                    <h3 class="form-input">{{listStatistics.balance | number:'':'fr-FR'}} FCFA</h3>
                                                </div>
                                            </div>  
                                            <div class="grid grid-cols-1 grid-cols-3 gap-3">
                                                <div class="mb-3">
                                                    <label>Total de sacs déclarés </label>
                                                    <h3 class="form-input">{{listStatistics.nb_supplier_bags_declared | number:'':'fr-FR'}}</h3>
                                                </div>
                                                <div class="mb-3">
                                                    <label>Total de poids déclarés </label>
                                                    <h3 class="form-input">{{listStatistics.nb_supplier_weight_declared | number:'':'fr-FR'}}</h3>
                                                </div>
                                                <div class="mb-3">
                                                    <label>Total de réfractions</label>
                                                    <h3 class="form-input">{{listStatistics.nb_supplier_refact | number:'':'fr-FR'}}</h3>
                                                </div>
                                            </div>  
                                            <div class="grid grid-cols-1 grid-cols-3 gap-3">
                                                <div class="mb-3">
                                                    <label>Total de sacs livrés </label>
                                                    <h3 class="form-input">{{listStatistics.nb_supplier_bags_accepted | number:'':'fr-FR'}}</h3>
                                                </div>
                                                <div class="mb-3">
                                                    <label>Total de poids livrés </label>
                                                    <h3 class="form-input">{{listStatistics.nb_supplier_bags_accepted | number:'':'fr-FR'}}</h3>
                                                </div>
                                                <div class="mb-3">
                                                    <label>Montant Total des livraison</label>
                                                    <h3 class="form-input">{{listStatistics.nb_supplier_total_price | number:'':'fr-FR'}}</h3>
                                                </div>
                                            </div> 
                                            <div class="grid grid-cols-1 grid-cols-3 gap-3">
                                                <div class="mb-3">
                                                    <label>Montant total TKM </label>
                                                    <h3 class="form-input">{{listStatistics.nb_supplier_tkm_amount | number:'':'fr-FR'}}</h3>
                                                </div>
                                                <div class="mb-3">
                                                    <label>Valeur totale de production plus TKM </label>
                                                    <h3 class="form-input">{{listStatistics.nb_supplier_value_prod_plus_tkm | number:'':'fr-FR'}}</h3>
                                                </div>
                                                <div class="mb-3">
                                                    <label>Valeur BIC totale</label>
                                                    <h3 class="form-input">{{listStatistics.nb_supplier_bic_value | number:'':'fr-FR'}}</h3>
                                                </div>
                                            </div>                                       
                                        </form>
                                        <div class="flex justify-end items-center mt-8">
                                            <button type="button" (click)="itemSelected = !itemSelected; itemDetail = false;" class="btn btn-outline-danger">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <app-preloader></app-preloader>
            </div>    
        </div>
    </div>
</div>

